
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<h1 class="mcolor">Nayan Kumar Das</h1>

@section scripts
{
    <script>
        alert("Hi Nayan"); 
    </script>
}
@section mycss
{
  <style>
    .mcolor {
        color: red;
    }
</style>  
}
